* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'work sans';
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 90px;
    padding-top: 170px;
    align-items: flex-end;
    gap: 70px;
}

#left_container {
    height: 100%;
    width: 45%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#right_container {
    height: 90%;
    width: 33%;
    position: relative;
}

#left_container h1 {
    font-size: 6vw;
    font-weight: 400;
    line-height: 6vw;
}

#left_bottem {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#color {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: 1.5px solid #000;
}

#color h5 {
    font-weight: 500;
    margin-right: 1vw;
}

#color1 {
    height: 15px;
    width: 15px;
    background-color: #7B6651;
    border-radius: 50%;
}

#color2 {
    height: 15px;
    width: 15px;
    background-color: #353331;
    border-radius: 50%;
}

#details h3 {
    margin-bottom: 15px;
    font-size: 1.2vw;
    font-weight: 500;
}

#details p {
    width: 80%;
    font-weight: 500;
    line-height: 2.4vh;
    color: #6a6363;
}

#price_tag {
    display: flex;
    justify-content: space-between;
    height: 88px;
    width: 100%;
    align-items: center;
}

#price_tag h4 {
    font-weight: 500;
}

#price_tag h5 {
    font-weight: 500;
}

#price_tag h5 i {
    color: gold;
}

#right_container img {
    object-fit: cover;
    height: 88%;
    width: 100%;
}

#circle {
    height: 150px;
    width: 150px;
    position: absolute;
    background-color: black;
    color: rgb(184, 178, 178);
    border-radius: 50%;
    right: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 28%;
}

#circle h5 {
    font-size: 16px;
    font-weight: 400;
}

#rotated_text {
    position: absolute;
    left: -10%;
    bottom: 2%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 30px;
    font-weight: 500;
}